body {
    font-family: 'PT Serif', serif;
}

a,
a:visited,
a:focus,
a:active { color: #E67765; text-decoration: none; }

a:hover { color: #E67765; text-decoration: underline; }




body.menu-toggled { overflow-y: hidden; }
.site-header {
    position: relative;
    width: 100%;
}
.home .site-branding {
    background: url(./images/lauradarsie-hero-img.png) no-repeat center center transparent;
    background-size: cover;
    min-height: 400px;
    height: 50vh;
}
.site-title a {
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    background: url(./images/lauradarsie-linee-spartito.svg) no-repeat left 3px #fff;
    position: relative;
    height: 110px;
    transition: height 300ms ease-in-out;
}
.site-title a img {
    float: left;
    position: absolute;
    height: 120px;
    transition: height 300ms ease-in-out;
}
.menu-toggled .site-title a img {
    position: fixed;
    z-index: 10;
    filter: drop-shadow(1px 1px 0px #984c40);
}
.site-title,
.site-title.compact { 
    height: 120px; 
    margin: 10px 0;
}
.site-title.compact a {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    width: 100%;
    height: 70px;
}
.menu-toggled .site-title.compact a { position: initial; }
.site-title.compact a img { 
    top: 0;
    height: 83px;
 }
 @media all and (min-width: 600px) {
    .home .site-branding {
        height: 75vh;
    }
    .home .site-title.compact a {
        background-position: left 8px;
        height: 80px;
        background-color: #fff;
    }
    .site-title.compact a { background-color: transparent; }

    .site-title.compact a img {
        top: 5px;
    }
 }



 /* MENU */
.main-navigation {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}
.menu-toggled .main-navigation {
    height: 100vh;
}
.menu-toggle {
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 10px;
    float: right;
    width: auto;
    clear: both;
    background-color: #E67765;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    transition: all 300ms ease-in-out;
}
button.menu-toggle:active,
button.menu-toggle:focus,
button.menu-toggle:visited,
button.menu-toggle:hover {
    border: 2px solid #fff;
}
.menu-toggle:after {
    content: "";
    display: inline-block;
    border-top: 6px double #fff;
    border-bottom: 2px solid #fff;
    height: 10px;
    width: 15px;
    margin-left: 10px;
}
.compact .menu-toggle { top: 17px; }
.main-navigation .menu-main-nav-container {
    width: 100%;
    height: 100vh;
    text-align: right;
    clear: both;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: rgba(234, 119, 101, .95);
    transition: right 300ms ease-in-out;
}
.menu-toggled .main-navigation .menu-main-nav-container {
    right: 0;
    height: 100vh;
}
.main-navigation ul {
    margin-top: 160px;
    display: block;
}
.main-navigation li {
    width: 100%;
}
.main-navigation a {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    padding: 5px 25px;
    text-align: right;
}

@media all and (min-width: 600px) {
    .main-navigation {
        position: fixed;
        top: 130px;
        left: 0;
        max-height: 360px;
        height: 360px;
        width: 300px;
        background: transparent;
    }
    .main-navigation .menu-main-nav-container {
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
        width: 300px;
        background: transparent;
        text-align: left;
    }
    .main-navigation ul {
        margin-top: 25px;
    }
    .main-navigation a {
        margin-bottom: 10px;
        line-height: 28px;
        background: rgba(255,255,255,0.75);
        color: #222;
        width: auto;
        display: inline-block;
        padding: 0px 10px;
        margin-left: 20px;
        border-radius: 4px;
        font-weight: 400;
    }
    .main-navigation a:hover,
    .main-navigation .current-menu-item a {
        color: #E67765;
        text-decoration: none;
    }
}

.site-description:before {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    background: url(./images/lauradarsie-profile-pic.png) no-repeat center center transparent;
    border: 4px solid #E67765;
    border-radius: 50%;
    margin: 30px auto 15px auto;
}
.site-description {
    font-family: PT Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    width: auto;
    margin: 0 auto;
}



.bio-expandible {
    border-bottom: 1px solid #ccc;
    margin: 20px;
    padding-bottom: 50px;
}
.bio-expandible a:hover {
    text-decoration: none;
    opacity: .8;
}
.bio-short p {
    font-family: PT Serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #282828;
    padding: 0 30px;
    margin: 10px 0px 3px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-decoration: none;
}
.bio-expander {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    color: #E67765;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.bio-expander:after {
    content: ">";
    font-size: 10px;
    line-height: 26px;
    color: #E67765;
    margin-left: 8px;
}

@media all and (min-width: 600px) {
    .site-description:before {
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100px;
        border: 2px solid #E67765;
        background-size: 100px;
        transition: all 300ms ease-in-out;
    }
    .site-description {
        position: fixed;
        z-index: 1;
        top: 30px;
        right: 15px;
        font-size: 16px;
        line-height: 16px;
        text-align: right;
        padding-right: 120px;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        height: 100px;
        transition: all 300ms ease-in-out;
    }
    .compact ~ .site-description:before {
        width: 65px;
        height: 65px;
        background-size: 65px;
    }
    .compact ~ .site-description {
        top: 10px;
        height: 65px;
        padding-right: 80px;
    }
    .site-description strong {
        display: contents;
    }
    .bio-expandible {
        position: absolute;
        top: 120px;
        right: 0;
        width: 250px;
        border: none;
    }
    .bio-short p {
        padding: 0;
        text-align: right;
        font-size: 13px;
        font-style: normal;
        -webkit-line-clamp: 6;
    }
    .bio-expander { text-align: right; }
}


#content {
    margin-left: 10px;
    margin-right: 10px;
}

.home-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
.home-main section {
    flex: 0 0 100%;
    padding: 0;
}

@media all and (min-width: 600px) {
    #content {
        max-width: 1140px;
        margin: 0 auto 0 300px;
    }
}
@media all and (min-width: 1024px) {
    .home-main {
        flex-flow: row wrap;
    }
    .home-main section {
        flex: 0 0 45%;
    }
}


#latest-events h3, 
#latest-posts h3 {
    text-align: center;
    padding: 0;
    margin: 40px auto 10px auto;
    font-weight: 600;
    font-size: 18px;
}
.recent-posts, 
.recent-events {
    padding: 0;
    margin: 0;
    list-style: none;
}
.recent-item a {
    text-decoration: none;
}
.recent-item-date {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #E67765;
}
.recent-item-title {
    color: #000;
    margin: 0;
    padding: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #222121;
}

@media all and (min-width: 600px) {
    #latest-events h3,
    #latest-posts h3 {
        text-align: left
    }
}
@media all and (min-width: 1024px) {
}


.site-footer {
    height: 40px;
    width: 100%;
    background: #E67765;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
}